{% extends 'base.html.twig' %}

{% block title %}Details de chaussure{% endblock %}

{% block body %}

    <h1>Details de la chaussure</h1>

      <table class="table">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ chaussure.id }}</td>
              </tr>
              <tr>
                  <th>Titre</th>
                  <td>{{ chaussure.TitreChaussure }}</td>
              </tr>
              <tr>
                  <th>Categorie</th>
                  <td>{{ chaussure.Categorie }}</td>
              </tr>
              <tr>
                  <th>Marque</th>
                  <td>{{ chaussure.Marque }}</td>
              </tr>
              <tr>
                  <th>Couleur</th>
                  <td>{{ chaussure.Couleur }}</td>
              </tr>
          </tbody>
      </table>
	  
	  <a href="{{ path('app_chaussure_edit', {'id': chaussure.id}) }}">Modifier</a>
	  <a href="{{ path('app_exposition_index') }}">Retour aux expositions</a>
	  <a href="{{ path('placard_show', {'id': chaussure.placard.id}) }}">Retour au placard</a>
	  


{% endblock %}
